*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* generics */
.container-body{
    max-width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
    padding-right: 20px;;
}
h2{
    font-size: 40px;
    padding: 30px;;
}

h3{
    font-size: 45px;
    margin-bottom: 10px;
}

h4{
    font-size: 30px;
    padding-bottom: 30px;
}

h5{
    font-size: 18px;
    padding-bottom: 10px;
}
/* header */

.back-header{
    background-image: url(../img/jumbo.png);
    background-size: 1200px; 
    color: white;
    padding: 15px;
}

.nav-header{
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;

}
.login{
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 40%;
}
.div-header{
    min-height: 200px;
    width: 500px;
    text-align: center;
    padding-bottom: 100px;
}

.p-header{
    font-size: 15px;
    text-align: center;
    padding-bottom: 30px;
}
.download-mac{
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 10px;;
}
.open-discord{
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 13px;
    border-radius: 15px;
}

    

/* main */
.back-white{
    background-color: white;
    padding: 15px;
}

.div-main-start{
    min-height: 200px;
    flex-direction: row-reverse;
    padding-bottom: 40px;
}

.p-main{
    font-size: 15px;
}

.photo-study-group{
    height: 300px;
}


.back-lightgray{
    background-color: #d3d3d3;
    padding: 15px;
}
.div-main-center{
    min-height: 200px;
}

.photo-voice-connected{
    height: 330px;
}

.photo-coach{
    height: 310px;
}

.div-main-end{
    min-height: 600px;
    text-align: center;
    padding-bottom: 100px;
}

.back-star{
    background-image: url(../img/stars.svg);
    min-width: 100px;
    height: 50px;
    text-align: center;
}

.download-mac-main{
    font-size: 13px;
    padding: 10px;
    background-color: #8da1e1;
    border-radius: 15px;
}

/* footer */

.back-black{
    background-color: black;
    color: white;
    padding-top: 5px;
}
.top-footer{
    min-height: 200px;
    flex-wrap: nowrap;
    padding: 60px;
}

.img-italia{
    height: 13px;
}

.row-footer{
    margin-bottom: 10px;
}

.down-footer{
    min-height: 100px;
    border: 3px dashed;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.side-down-footer{
    background-color: pink;
    padding: 5px;
    border: 3px dashed;
}


/* utility */
    
.container{
    max-width: 900px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}


.side-40{
    min-width: 40%;
}

.side-60{
    min-width: 60%;
}
.side{
    min-height: 500px;
    width: calc((100% / 6) * 1);
}

.double-side{
    min-height: 500px;
    width: calc((100% / 6) * 2);
}
.border{
    margin-top: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

.font-size-footer{
    font-size: 15px;
}

.font-color{
    color: #7189da;
}

.font-distance{
    padding: 10px;
}